:root {
  --dark:#333;
  --darker:#222;
  --accent:#bababa;
  --white:#f2f2f2;
  --gamedev:#376F70;
  --art:#469760;
  --cplusplus:#005697;
  --csharp:#1D9924;
  --unity:#309DF4;
  --unreal:#131313;
  --visualstudio:#8254B9;
  --source:#F05033;
}
#page-body, body {
  background-color:var(--dark);
  color:var(--white);
  height:100%;
}

.badge-unity {
  background-color:var(--unity);
}
.badge-unreal {
  background-color:var(--unreal);
}
.badge-csharp {
  background-color:var(--csharp);
}
.badge-cplusplus {
  background-color:var(--cplusplus);
}
.badge-visualstudio {
  background-color:var(--visualstudio);
}
.badge-art {
  background-color: var(--art);
}
.badge-gamedev {
  background-color: var(--gamedev);
}
.badge-source {
  background-color: var(--source);

}
/* GALLERY */
.gallery-item {
  padding:1rem;
  margin-left:auto;
  margin-right:auto;
}
.gallery-item-thumb {
width:100%;
height:320px;
background-repeat: no-repeat !important;
background-size: cover !important;
}
.gallery-item-title {
  font-size:35px;

}

/* SECTIONS */
.section {
  text-align:center;
  margin-bottom:4rem;
}
.section-content {
  padding:2rem;
}
.section-header {
  background-color:var(--darker);
  padding:1rem;

}
.section-header h2, .section-header p {
  padding:0;
  margin:0;
}
.h2, h2 {
    font-size:xx-large;
}


/* FOOTER */
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark);
  color:var(--white);
  text-align: center;
  padding-top:15px;
}

.jump {
  height:65px;
}
/* NAV */
.topnav {
  background-color: var(--dark);
  overflow: hidden;
  position:fixed;
  z-index:1000;
  width:100%;
  padding:0;
  height:65px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  height:100%;
  padding:2rem;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color:var(--white);
  padding:1rem;
}

.topnav .icon {
  display: none;
}

a {
  color:var(--white);
}
a:hover, a:active, a:focus {
  color:gray;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
